In [42]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [6]:
locale_df = pd.read_csv('locale_downloads_data/webstats-tb-locale-2021-12-27-2022-05-28.csv', skiprows=5)

In [19]:
locale_df.locale.value_counts()

ar       149
cs       149
sv-SE    149
de       149
ca       149
ga-IE    149
id       149
is       149
nb-NO    149
el       149
da       149
hu       149
ka       149
es-AR    149
ro       149
mk       149
lt       149
ms       149
he       149
zh-TW    149
th       149
pl       149
en-US    149
es-ES    149
fa       149
fr       149
pt-BR    149
ko       149
nl       149
it       149
ru       149
tr       149
vi       149
zh-CN    149
??       149
ja       149
my       149
ru-RU      3
en         2
en-Us      2
En-US      1
es-EN      1
en-UC      1
en-ES      1
en-us      1
Name: locale, dtype: int64

In [14]:
russian_df = locale_df[locale_df.locale.str.contains('ru')]
russian_df.date.value_counts()

2022-05-01    2
2022-03-19    2
2022-02-14    2
2021-12-27    1
2022-04-08    1
             ..
2022-02-15    1
2022-02-16    1
2022-02-17    1
2022-02-18    1
2022-05-24    1
Name: date, Length: 149, dtype: int64

In [22]:
fixed_russian_df = russian_df[~russian_df.locale.str.contains('ru-RU')]
fixed_russian_df

            date locale  initial_downloads  update_pings
10    2021-12-27     ru               3776        344400
47    2021-12-28     ru               3562        338132
84    2021-12-29     ru               3682        340115
121   2021-12-30     ru               3504        332720
158   2021-12-31     ru               2651        271100
...          ...    ...                ...           ...
5350  2022-05-20     ru               3593        134644
5387  2022-05-21     ru               3329        131516
5424  2022-05-22     ru               3479        134532
5461  2022-05-23     ru               4013        137238
5498  2022-05-24     ru               3815        137060

[149 rows x 4 columns]

In [24]:
english_us_df = locale_df[locale_df.locale == 'en-US']
english_us_df.date.value_counts()

2021-12-27    1
2022-03-31    1
2022-04-02    1
2022-04-03    1
2022-04-04    1
             ..
2022-02-15    1
2022-02-16    1
2022-02-17    1
2022-02-18    1
2022-05-24    1
Name: date, Length: 149, dtype: int64

In [29]:
eng_pivot_df = english_us_df.pivot(index='date', 
                                   columns='locale', 
                                   values=['initial_downloads', 'update_pings'])
eng_pivot_df

           initial_downloads update_pings
locale                 en-US        en-US
date
2021-12-27             97506      1597810
2021-12-28             94444      1603765
2021-12-29             93379      1610564
2021-12-30             95217      1576255
2021-12-31             88023      1382608
...                      ...          ...
2022-05-20             49094       683601
2022-05-21             48846       659648
2022-05-22             49106       668619
2022-05-23             55090       696553
2022-05-24             58448       696682

[149 rows x 2 columns]

In [32]:
rus_pivot_df = fixed_russian_df.pivot(index='date', 
                                   columns='locale', 
                                   values=['initial_downloads', 'update_pings'])
rus_pivot_df

           initial_downloads update_pings
locale                    ru           ru
date
2021-12-27              3776       344400
2021-12-28              3562       338132
2021-12-29              3682       340115
2021-12-30              3504       332720
2021-12-31              2651       271100
...                      ...          ...
2022-05-20              3593       134644
2022-05-21              3329       131516
2022-05-22              3479       134532
2022-05-23              4013       137238
2022-05-24              3815       137060

[149 rows x 2 columns]

In [49]:
en_and_rus_df = rus_pivot_df.merge(eng_pivot_df, on='date', how='inner')
en_and_rus_df

           initial_downloads update_pings initial_downloads update_pings
locale                    ru           ru             en-US        en-US
date
2021-12-27              3776       344400             97506      1597810
2021-12-28              3562       338132             94444      1603765
2021-12-29              3682       340115             93379      1610564
2021-12-30              3504       332720             95217      1576255
2021-12-31              2651       271100             88023      1382608
...                      ...          ...               ...          ...
2022-05-20              3593       134644             49094       683601
2022-05-21              3329       131516             48846       659648
2022-05-22              3479       134532             49106       668619
2022-05-23              4013       137238             55090       696553
2022-05-24              3815       137060             58448       696682

[149 rows x 4 columns]

In [57]:
en_and_rus_df.columns = en_and_rus_df.columns.map('_'.join)

In [62]:
en_and_rus_df.to_csv('ru-en-US_downloads_updates_data_Dec-May.csv', index=True)